<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="assets/style.css">
    </head>

    <body>
        <section class="row backgroundColor3 flexLeftCenter">
            <img class="topBarLogo" src="assets/images/LogoMakr-6MMJbS.png" alt="free_speech_logo.png">

            <form action="/" method="POST">
                <div class="noBorder backgroundColor2 searchBar flexSpaceEvenlyCenter">
                    <input class="backgroundColor2 loginOpacity searchInput" type="text" placeholder="Search..." name="search" required>
                    <button class="searchButton backgroundColor3 color1" type="submit">/</button>
                </div>
            </form>

            <div class="flexSpaceEvenlyCenter topBarButtons">
                <a class="color1 topBarLogin" href="/">Log In</a>
                <a class="color1 backgroundColor2 topBarSignup" href="/">Sign Up</a>
            </div>
            <div class="halfCircle backgroundColor3 noBorder">
            </div>
        </section>

        <section class="flexSpaceEvenlyCenter flexTextAlignCenter section404">
            <div class="section404Left">
                <h1 class="title404 color3 flexTextAlignCenter">
                    Page Not<br>Found
                </h1>
                <a class="flexTextAlignCenter button404 backgroundColor3" href="/">Go Back</a>
            </div>
            <img src="assets/images/404.png" alt="404.png">
        </section>
    </body>
</html>