<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="./assets/style.css">
        <title>
            Category
        </title>
    </head>

    <body>
        <section class="index1 backgroundColor3">
            <div class="index2">
                <a class="index3" href="/index">
                    <img class="index12" src="assets/images/logo.png" alt="free_speech_logo.png">
                </a>

                <form class="index4 backgroundColor2" action="/" method="POST">
                    <div class="index6">
                        <input class="index7 backgroundColor2 colorWhite noBorder" type="text" placeholder="Search..." name="search" required>
                        <button class="index8 backgroundColor3 colorWhite noBorder" type="submit">
                            /
                        </button>
                    </div>
                </form>
                
                {{ if (eq .Connected 1)}}
                    <div class="index14">
                        <a class="index13 buttonColor colorWhite backgroundColor2" href="/index">
                            Profil
                        </a>
                    </div>
                {{ else }}
                <div class="index5">
                        <a class="index9 buttonColor colorWhite" href="/login">
                            LOG IN
                        </a>
                        <a class="index10 buttonColor backgroundColor2 colorWhite" href="/signup">
                            SIGN UP
                        </a>
                </div>
                {{ end }}
    
                <div class="index11 backgroundColor3">
                </div>
            </div>
        </section>

        <section class="category1">
            <section class="category2">
                <div class="category3 backgroundColor2 colorWhite">
                    <p class="category15">
                        Category
                    </p>

                    <p class="category16">
                        Posts : 24
                    </p>
                </div>

                <a class="category4 backgroundColor1" href="/category">
                    <div class="category5">
                        <p class="category9">
                            Post Name
                        </p>

                        <p class="category10">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                    </div>

                    <div class="category6">
                        <p class="category11">
                            Username
                        </p>

                        <div class="category7">
                            <img class="category8" src="assets/images/like.png" alt="like.png">
                            
                            <p class="category12">
                                11
                            </p>
                        </div>
                    </div>
                </a>

                <a class="category4 backgroundColor1" href="/category">
                    <div class="category5">
                        <p class="category9">
                            Post Name
                        </p>

                        <p class="category10">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                    </div>

                    <div class="category6">
                        <p class="category11">
                            Username
                        </p>

                        <div class="category7">
                            <img class="category8" src="assets/images/like.png" alt="like.png">
                            
                            <p class="category12">
                                11
                            </p>
                        </div>
                    </div>
                </a>

                <a class="category4 backgroundColor1" href="/category">
                    <div class="category5">
                        <p class="category9">
                            Post Name
                        </p>

                        <p class="category10">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                    </div>

                    <div class="category6">
                        <p class="category11">
                            Username
                        </p>

                        <div class="category7">
                            <img class="category8" src="assets/images/like.png" alt="like.png">
                            
                            <p class="category12">
                                11
                            </p>
                        </div>
                    </div>
                </a>
            </section>
        </section>

        <section class="category13">
            <div class="category17">
                <img class="category14" src="assets/images/posts.png" alt="posts.png">
            </div>
        </section>
    </body>
</html>