<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="assets/style.css">
    </head>

    <body>
        <section class="row backgroundColor3 flexLeftCenter">
            <img class="topBarLogo" src="assets/images/LogoMakr-6MMJbS.png" alt="free_speech_logo.png">

            <form action="/" method="POST">
                <div class="noBorder backgroundColor2 searchBar flexSpaceEvenlyCenter">
                    <input class="backgroundColor2 loginOpacity searchInput" type="text" placeholder="Search..." name="search" required>
                    <button class="searchButton backgroundColor3 color1" type="submit">/</button>
                </div>
            </form>

            <div class="flexSpaceEvenlyCenter topBarButtons">
                <a class="color1 topBarLogin" href="/">Log In</a>
                <a class="color1 backgroundColor2 topBarSignup" href="/">Sign Up</a>
            </div>
            <div class="halfCircle backgroundColor3 noBorder">
            </div>
        </section>

        <section>
            <div>
                <h1>
                    Category
                </h1>
                <h2>
                    Posts : 24
                </h2>
            </div>

            <section>
                <div>
                    <p>
                        Post Name
                    </p>
                    <p>
                        Username
                    </p>
                    <img src="assets/images/like.png" alt="like.png">
                    <p>
                        11
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>
            </section>

        </section>
    </body>
</html>