<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="./assets/style.css">
        <title>
            Verification
        </title>
    </head>

    <body>
        <section class="login1">
            <div class="login16">
                <div class="login17">
                    <a class="login18 buttonColorSoft backgroundColor3 colorWhite" href="/index">
                        HOME
                    </a>
                </div>
    
                <div class="verify4">
                    <h1 class="verify3">
                        Forgot your password ?
                    </h1>
    
                    <form class="login4" action="/" method="POST">
                        <input class="verify1 backgroundColor5 borderColor6" type="text" placeholder="Mail" name="mail" autocomplete="off" required>
                        <button class="verify2 cursor backgroundColor3 noBorder color1" type="submit">
                            Send
                        </button>
                    </form>
    
                    <div class="login8">
                        <a class="login9 color2 underline" href="/login">
                            Not received ? Resend
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <section class="login10 backgroundColor3">
            <div class="login13">
                <div class="login12">
                </div>
                
                <div class="login11">
                    <img class="login14" src="assets/images/authentification.png" alt="authentification.png">
                </div>
            </div>
        </section>
    </body>
</html>