<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="assets/style.css">
    </head>

    <body class="loginBody">
        <section class="column">
            <div>
                <h1 class="flexCenter loginTitle">Log In</h1>
                <form action="/" method="POST">
                    <div class="flexCenter flexColumn loginInput loginMargin">
                        <input class="backgroundColor5 loginOpacity loginPaddin loginHeight roundBorders borderColor6" type="text" placeholder="Username" name="uname" required>
                        <input class="backgroundColor5 loginOpacity loginPaddin loginHeight roundBorders borderColor6" type="password" placeholder="Password" name="pwd" required>
                        <button class="signupButton backgroundColor3 color1 loginHeight roundBorders borderColor6" type="submit">Log In</button>
                    </div>
                </form>

                <div class="flexCenter flexColumn flexTextAlignCenter">
                    <a class="color3 loginOtherMargin underline" href="/">Forgot your password ?</a>
                    <a class="color3 loginOtherMargin underline" href="/">Sign up</a>
                </div>
            </div>
        </section>

        <section style="position: relative;">
            <div class="loginTriangle">
            </div>
        </section>

        <section class="column backgroundColor3 flexCenter">
            <img class="loginPicture" src="assets/images/Authentication-rafiki 2.png" alt="authentification.png">
        </section>
    </body>
</html>
