<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="./assets/style.css">
        <title>
            Log In
        </title>
    </head>

    <body>
        <section class="login1">
            <div class="login2">
                <h1 class="login3">
                    Log In
                </h1>

                <form class="login4" action="/" method="POST">
                    <input class="login5 backgroundColor5 borderColor6" type="text" placeholder="Username" name="uname" required>
                    <input class="login6 backgroundColor5 borderColor6" name="pwd" placeholder="Password" name="pwd" required>
                    <button class="login7 backgroundColor2 noBorder color1" type="submit">
                        Log In
                    </button>
                </form>

                <div class="login8">
                    <a class="login9 color2 underline" href="/">
                        Forgot your password ?
                    </a>
                    <a class="login9 color2 underline" href="/">
                        Sign up
                    </a>
                </div>
            </div>
        </section>

        <section class="login10 backgroundColor3">
            <div class="login12">
            </div>
            
            <div class="login11">
                <img src="assets/images/authentification.png" alt="authentification.png">
            </div>
        </section>
    </body>
</html>