<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="./assets/style.css">
        <title>
            Category
        </title>
    </head>

    <body>
        <section class="index1 backgroundColor3">
            <div class="index2">
                <a class="index3" href="/index">
                    <img class="index12" src="assets/images/logo.png" alt="free_speech_logo.png">
                </a>

                <form class="index4 backgroundColor2" action="/" method="POST">
                    <div class="index6">
                        <input class="index7 backgroundColor2 colorWhite noBorder" type="text" placeholder="Search..." name="search" required>
                        <button class="index8 backgroundColor3 colorWhite noBorder" type="submit">
                            /
                        </button>
                    </div>
                </form>
    
                <div class="index5">
                    <a class="index9 buttonColor colorWhite" href="/login">
                        LOG IN
                    </a>
                    <a class="index10 buttonColor backgroundColor2 colorWhite" href="/signup">
                        SIGN UP
                    </a>
                </div>
    
                <div class="index11 backgroundColor3">
                </div>
            </div>
        </section>

        <section class="category1">
            <section class="category2">
                <div class="category3 backgroundColor2 colorWhite">
                    <p class="category15">
                        Post name
                    </p>

                    <p class="category16">
                        Comments : 24
                    </p>
                </div>

                <div class="post3 backgroundColor1">
                    <div class="post1">
                        <p class="post2">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Cras semper auctor neque vitae tempus quam pellentesque nec. Vivamus at augue eget arcu. Ipsum a arcu cursus vitae. Venenatis urna cursus eget nunc scelerisque viverra. Purus faucibus ornare suspendisse sed nisi lacus sed viverra tellus. Tincidunt vitae semper quis lectus nulla at volutpat diam. Sapien eget mi proin sed. Senectus et netus et malesuada fames. Viverra nam libero justo laoreet sit amet cursus.
                        </p>
                    </div>
                </div>
                
                <p class="post4 colorWhite backgroundColor2">
                    Comments
                </p>

                <a class="post5 backgroundColor1" href="/category">
                    <p class="post6">
                        Username
                    </p>
                    <div class="post7">
                        <p class="">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                    </div>
                </a>
            </section>
        </section>

        <section class="category13">
            <div class="category17">
                <img class="category14" src="assets/images/posts.png" alt="posts.png">
            </div>
        </section>
    </body>
</html>