<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="./assets/style.css">
        <title>
            Category
        </title>
    </head>

    <body>
        <section class="index1 backgroundColor3">
            <div class="index2">
                <a class="index3" href="/index">
                    <img class="index12" src="assets/images/logo.png" alt="free_speech_logo.png">
                </a>

                <form class="index4 backgroundColor2" action="/" method="POST">
                    <div class="index6">
                        <input class="index7 backgroundColor2 colorWhite noBorder" type="text" placeholder="Search..." name="search" required>
                        <button class="index8 backgroundColor3 colorWhite noBorder" type="submit">
                            /
                        </button>
                    </div>
                </form>
    
                <div class="index5">
                    <a class="index9 buttonColor colorWhite" href="/login">
                        LOG IN
                    </a>
                    <a class="index10 buttonColor backgroundColor2 colorWhite" href="/signup">
                        SIGN UP
                    </a>
                </div>
    
                <div class="index11 backgroundColor3">
                </div>
            </div>
        </section>

        <section class="category1">
            <section class="category2">
                <div class="category3 backgroundColor2 colorWhite">
                    <p class="category15">
                        Post name
                    </p>

                    <p class="category16">
                        Comments : 24
                    </p>
                </div>

                <div class="post3 backgroundColor1">
                    <div class="post1">
                        <p class="post2">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Cras semper auctor neque vitae tempus quam pellentesque nec. Vivamus at augue eget arcu. Ipsum a arcu cursus vitae. Venenatis urna cursus eget nunc scelerisque viverra. Purus faucibus ornare suspendisse sed nisi lacus sed viverra tellus. Tincidunt vitae semper quis lectus nulla at volutpat diam. Sapien eget mi proin sed. Senectus et netus et malesuada fames. Viverra nam libero justo laoreet sit amet cursus.
                        </p>
                    </div>
                </div>
                
                <p class="post4 colorWhite backgroundColor2">
                    Comments
                </p>

                <div class="post8 backgroundColor1">
                    <div class="post5">
                        <a class="post6 underline" href="/index">
                            Username
                        </a>
                        
                        <p class="post7">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                    </div>

                    <div class="post9">
                        <img class="category8" src="assets/images/like.png" alt="like.png">
                            
                        <p class="category12">
                            11
                        </p>
                    </div>
                </div>

                <div class="post8 backgroundColor1">
                    <div class="post5">
                        <a class="post6 underline" href="/index">
                            Username
                        </a>
                        
                        <p class="post7">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                    </div>

                    <div class="post9">
                        <img class="category8" src="assets/images/like.png" alt="like.png">
                            
                        <p class="category12">
                            11
                        </p>
                    </div>
                </div>

                <form class="post10 backgroundColor1" action="/category" method="POST">
                    <input class="post11 noBorder" type="text" placeholder="Add a new comment" name="comment" autocomplete="off" required>

                    <div class="post12">
                        <img src="assets/images/lock.png" alt="lock.png">

                        <a class="post13 buttonColorSoft backgroundColor2 colorWhite" href="/login">
                            LOG IN
                        </a>
                    </div>
                </form>
            </section>
        </section>

        <section class="category13">
            <section class="post14">
                <div class="post15 backgroundColor1">
                    <div class="post18">
                        <a class="post19 underline" href="/category">
                            Creator : Username
                        </a>

                        <div class="post20">
                            <p class="post21">
                                27/03/2023
                            </p>

                            <p class="post21">
                                12:35
                            </p>
                        </div>
                    </div>

                    <div class="post22">
                        <img class="category8" src="assets/images/like.png" alt="like.png">
                            
                        <p class="category12">
                            11
                        </p>
                    </div>
                </div>

                <div class="post16 backgroundColor2 colorWhite">
                    <p class="post23">
                        Categories
                    </p>
                </div>

                <a class="post17 buttonColor backgroundColor1" href="/category">
                    <div class="post26">
                        <p class="post24">
                            Category Name
                        </p>

                        <p class="post25">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                    </div>

                    <div class="post27">
                        <img class="post28" src="assets/images/post.png" alt="post.png">

                        <p class="post29">
                            24
                        </p>
                    </div>
                </a>

                <a class="post17 buttonColor backgroundColor1" href="/category">
                    <div class="post26">
                        <p class="post24">
                            Category Name
                        </p>

                        <p class="post25">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                    </div>

                    <div class="post27">
                        <img class="post28" src="assets/images/post.png" alt="post.png">

                        <p class="post29">
                            24
                        </p>
                    </div>
                </a>

                <a class="post17 buttonColor backgroundColor1" href="/category">
                    <div class="post26">
                        <p class="post24">
                            Category Name
                        </p>

                        <p class="post25">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                    </div>

                    <div class="post27">
                        <img class="post28" src="assets/images/post.png" alt="post.png">

                        <p class="post29">
                            24
                        </p>
                    </div>
                </a>
            </section>
        </section>
    </body>
</html>