<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="./assets/style.css">
        <title>
            Sign Up
        </title>
    </head>

    <body>
        <section class="login1">
            <div class="login16">
                <div class="login17">
                    <a class="login18 buttonColorSoft backgroundColor3 colorWhite" href="/index">
                        HOME
                    </a>
                </div>

                <div class="login2">
                    <h1 class="login3">
                        Sign Up
                    </h1>

                    <form class="login4" action="/signup" method="POST">
                        <input class="login5 backgroundColor5 borderColor6" type="text" placeholder="Username" name="uname" autocomplete="off" required>
                        <input class="signup1 backgroundColor5 borderColor6" placeholder="Email" name="mail" autocomplete="off" required>
                        <input class="signup2 backgroundColor5 borderColor6" type="password" placeholder="Password" name="pwd" required>
                        <p class="signup3">
                            By signing up, you agree to the Terms of Service<br> and Privacy Policy, including Cookie Use.
                        </p>
                        <button class="login7 cursor backgroundColor3 noBorder color1" type="submit">
                            Sign Up
                        </button>
                    </form>

                    <div class="login8">
                        <a class="login9 color2 underline" href="/login">
                            Already have an account ?
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <section class="login10 backgroundColor3">
            <div class="login13">
                <div class="login12">
                </div>
                
                <div class="login11">
                    <img class="login14" src="assets/images/authentification.png" alt="authentification.png">
                </div>
            </div>
        </section>
    </body>
</html>