<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="./assets/style.css">
    </head>

    <body class="loginBody">
        <section class="column">
            <div>
                <h1 class="flexCenter loginTitle">Sign Up</h1>
                <form action="/" method="POST">
                    <div class="flexCenter flexColumn loginInput loginMargin">
                        <input class="backgroundColor5 loginOpacity loginPaddin loginHeight roundBorders borderColor6" type="text" placeholder="Username" name="uname" required>
                        <input class="backgroundColor5 loginOpacity loginPaddin loginHeight roundBorders borderColor6" type="password" placeholder="Email" name="mail" required>
                        <input class="backgroundColor5 loginOpacity loginPaddin loginHeight roundBorders borderColor6" type="password" placeholder="Password" name="pwd" required>
                        <button class="signupButton backgroundColor3 color1 loginHeight roundBorders borderColor6" type="submit">Sign Up</button>
                    </div>
                </form>

                <p class="flexCenter flexTextAlignCenter signupTerms loginOpacity">By signing up, you agree to the Terms of Service<br> and Privacy Policy, including Cookie Use.</p>                
                <div class="flexCenter flexColumn flexTextAlignCenter">
                    <a class="color3 loginOtherMargin underline" href="/">Already have an account ?</a>
                </div>
            </div>
        </section>

        <section style="position: relative;">
            <div class="loginTriangle">
            </div>
        </section>

        <section class="column backgroundColor3 flexCenter">
            <img class="loginPicture" src="assets/images/Authentication-rafiki 2.png" alt="authentification.png">
        </section>
    </body>
</html>
