@font-face {
    font-family: Inter;
    src: url('fonts/Inter-VariableFont_slnt\,wght.ttf');
}

.backgroundColorWhite {
    background-color: white;
}

.backgroundColorBlack {
    background-color: black;
}

.backgroundColor1 {
    background-color: #f9f1f0;
}

.backgroundColor2 {
    background-color: #deb3ad;
}

.backgroundColor3 {
    background-color: #b18476;
}

.backgroundColor4 {
    background-color: #25232B;
}

.backgroundColor5 {
    background-color: #f6f6f6;
}

.backgroundColor6 {
    background-color: #e8e8e8;
}

.backgroundColor7 {
    background-color: #b18476;
}

.colorWhite {
    color: white;
}

.colorBlack {
    color: black;
}

.color1 {
    color: #f9f1f0;
}

.color2 {
    color: #deb3ad;
}

.color3 {
    color: #b18476;
}

.color4 {
    color: #25232B;
}

.color5 {
    color: #f6f6f6;
}

.color6 {
    color: #e8e8e8;
}

.borderColor6 {
    border: 1px solid #E8E8E8;
}

body {
    margin: 0;
    width: 100%;
    height: 100vh;
    font-family: Inter;
    position: relative;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: black;
}

.underline:hover {
    text-decoration: underline;
}

.buttonColor:hover {
    background-color: #deb3ad5a;
}

.buttonColorSoft:hover {
    background-color: #deb3adb3;
}

.cursor:hover {
    cursor: pointer;
}

.noBorder {
    border-style: none;
}

.login1 {
    float: left;
    width: 50%;
    height: 100vh;
}

.login16 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}

.login17 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 10%;
}

.login18 {
    margin-left: 6%;
    padding: 1%;
    padding-left: 3%;
    padding-right: 3%;
    text-align: center;
    font-size: 115%;
    font-weight: 650;
    border-radius: 18px;
    transition: 0.3s;
}

.login2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.login3 {
        font-size: 200%;
        margin: 0%; 
}

.login4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0%;
}

.login5 {
    width: 40%;
    padding: 1.5%;
    border-radius: 10px;
    margin-top: 5%;
    margin-bottom: 1%;
    color: rgba(0, 0, 0, 0.6);
}

.login6 {
    width: 40%;
    padding: 1.5%;
    border-radius: 10px;
    margin-bottom: 2%;
    color: rgba(0, 0, 0, 0.6);
}

.login7 {
    width: 40.8%;
    padding: 1.5%;
    border-radius: 22px;
    margin-bottom: 4%;
    font-size: 110%;
    font-weight: 900;
    transition: 0.3s;
}

.login7:hover {
    width: 44%;
}

.login8 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.login9 {
    margin-bottom: 5%;
    font-weight: 700;
}

.login10 {
    float: right;
    width: 50%;
    height: 100vh;
}

.login13 {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    min-width: 100%;
    min-height: 100%;
}

.login12 {
    position: absolute;
    border-left: 100px solid white;
    border-top: 100vh solid transparent;
    display: inline-block;
}

.login11 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.login14 {
    width: 55%;
}

.signup2 {
    width: 40%;
    padding: 1.5%;
    border-radius: 10px;
    margin-bottom: 0%;
    color: rgba(0, 0, 0, 0.6);
}

.signup3 {
    text-align: center;
    font-size: 80%;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 4%;
}

.signup1 {
    width: 40%;
    padding: 1.5%;
    border-radius: 10px;
    margin-bottom: 1%;
    color: rgba(0, 0, 0, 0.6);
}

.index1 {
    float: top;
    width: 100%;
    height: 13%;
}

.index2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.index3 {
    margin-left: 2.5%;
    margin-right: 0%;
    width: 4.5%;
    height: 100%;
}

.index12 {
    width: 100%;
    height: 100%;
}

.index4 {
    margin-left: -15%;
    margin-right: 0%;
    width: 27%;
    padding: 0.5%;
    padding-left: 1.5%;
    padding-right: 1%;
    border-radius: 15px;
}

.index6 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.index7 {
    width: 95%;
    font-size: 110%;
    font-weight: 600;
}

.index8 {
    width: 4%;
    border-radius: 3px;
}

.index5 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 15%;
    margin-left: 0%;
    margin-right: 3.5%;
    z-index: 1;
    white-space: nowrap;
    font-size: 110%;
    font-weight: 600;
}

.index14 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 15%;
    margin-left: 0%;
    margin-right: 3.5%;
    z-index: 1;
    white-space: nowrap;
    font-size: 110%;
    font-weight: 600;
}

.index13 {
    text-align: center;
    width: 40%;
    margin: 0%;
    margin-right: 13%;
    margin-left: 0%;
    padding: 5%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 18px;
    font-size: 100%;
    transition: 0.7s;
}

.index9 {
    text-align: center;
    width: 40%;
    margin-left: 0%;
    margin-right: 10%;
    padding: 6%;
    padding-left: 15%;
    padding-right: 15%;
    border-radius: 18px;
    font-size: 100%;
    transition: 0.7s;
}

.index10 {
    text-align: center;
    width: 40%;
    margin-left: 0%;
    margin-right: 0%;
    padding: 6%;
    padding-left: 15%;
    padding-right: 15%;
    border-radius: 18px;
    font-size: 100%;
    transition: 0.7s;
}

.index11 {
    position: absolute;
    margin-bottom: 5%;
    margin-left: 76.5%;
    width: 30%;
    height: 30vh;
    border-bottom-left-radius: 150px;
    border-bottom: 0;
}

.notfound1 {
    float: left;
    width: 50%;
    height: 100vh;
}

.notfound2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 28%;
}

.notfound3 {
    font-size: 410%;
    font-weight: 800;
    margin-top: 0%;
    margin-bottom: 6%;
    text-align: center;
}

.notfound4 {
    text-align: center;
    width: 8%;
    padding: 1%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    border-radius: 15px;
    transition: 0.3s;
}

.notfound4:hover {
    width: 9%;
}

.notfound7 {
    float: right;
    width: 50%;
    height: 100vh;
}

.notfound5 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
}

.notfound6 {
    margin-top: 15%;
    width: 60%;
}

.category1 {
    float: left;
    width: 50%;
    height: 100%;
}

.category2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
}

.category3 {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 70%;
    margin-top: 4%;
    margin-bottom: 4%;
    padding: 1%;
    padding-left: 4%;
    padding-right: 4%;
    border-radius: 10px;
    font-weight: 900;
    font-size: 120%;
}

.category15 {
    text-align: left;
}

.category16 {
    text-align: right;
}

.category4 {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    min-height: 10%;
    margin-top: 0%;
    margin-bottom: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 4%;
    padding-right: 4%;
    border-radius: 10px;
    transition: 0.3s;
}

.category4:hover {
    width: 71%;
    background-color: #deb3ad61;
}

.category5 {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 70%;
    min-height: 100%;
    margin-bottom: 0%;
    margin-right: 10%;
}

.category9 {
    margin-top: 0%;
    margin-bottom: 3%;
    font-weight: 700;
    font-size: 100%;
}

.category10 {
    margin-top: 0%;
    margin-bottom: 0%;
}

.category6 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 20%;
    height: 100%;
}

.category11 {
    margin-top: 0%;
    margin-bottom: 0%;
    height: 30%;
    font-weight: 700;
    font-size: 100%;
}

.category7 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
}

.category8 {
    margin-right: 15%;
}

.category12 {
}

.category13 {
    float: right;
    width: 50%;
    height: 100%;
}

.category17 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
}

.category14 {
    margin-top: 15%;
    margin-bottom: 0%;
    width: 55%;
}

.post3 {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    min-height: 10%;
    margin-top: -1%;
    margin-bottom: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 4%;
    padding-right: 4%;
    border-radius: 10px;
}

.post1 {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
}

.post2 {
    font-size: 100%;
}

.post4 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 70%;
    padding: 1%;
    padding-left: 4%;
    padding-right: 4%;
    border-radius: 10px;
    font-weight: 900;
    font-size: 120%;
}

.post8 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 70%;
    margin-bottom: 1%;
    padding: 1%;
    padding-left: 4%;
    padding-right: 4%;
    border-radius: 10px;
}

.post5 {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.post6 {
    font-weight: 650;
    font-size: 107%;
    margin-top: 0%;
    margin-bottom: 1%;
}

.post7 {
    margin: 0%;
    width: 100%;
}

.post9 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 100%;
}

.post10 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin-bottom: 1%;
    padding: 1%;
    padding-left: 4%;
    padding-right: 4%;
    border-radius: 10px;
}

.post11 {
    width: 75%;
    text-align: left;
    font-size: 100%;
    font-weight: 500;
}

.post12 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 25%;
    height: 100%;
}

.post13 {
    padding: 6%;
    padding-left: 20%;
    padding-right: 20%;
    border-radius: 15px;
    font-size: 100%;
    font-weight: 600;
}

.post14 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 4%;
    width: 80%;
    height: 100%;
}

.post15 {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    padding-left: 4%;
    padding-right: 4%;
    border-radius: 10px;
    width: 65%;
    min-height: 5%;
    margin-top: 5%;
}

.post18 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 100%;
}

.post19 {
    margin-top: 0%;
    margin-bottom: 0%;
    width: 100%;
    font-size: 110%;
    font-weight: 600;
}

.post20 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    margin-top: 0%;
    margin-bottom: 0%;
    width: 100%;
}

.post21 {
    margin: 0%;
    font-size: 90%;
}

.post22 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 15%;
    height: 100%;
}

.post16 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 1%;
    padding-left: 4%;
    padding-right: 4%;
    border-radius: 10px;
    width: 65%;
    height: 5%;
    margin-top: 2%;
}

.post23 {
    font-size: 110%;
    font-weight: 600;
}

.post17 {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    padding-left: 4%;
    padding-right: 4%;
    border-radius: 10px;
    width: 65%;
    min-height: 5%;
    margin-top: 1%;
    transition: 0.3s;
}

.post17:hover {
    width: 67%;
}

.post26 {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 80%;
    min-height: 10%;
}

.post24 {
    margin-top: 0%;
    margin-bottom: 1%;
    font-size: 110%;
    font-weight: 600;
}

.post25 {
    margin-top: 0%;
    margin-bottom: 0%;
    font-size: 90%;
}

.post27 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 5%;
    width: 15%;
    height: 100%;
}

.post28 {
    width: 40%;
}

.post29 {
    width: 40%;
}

.addPost1 {
    float: left;
    width: 50%;
    height: 100%;
}

.addPost3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.addPost4 {
    margin-top: 13%;
    font-size: 200%;
    font-weight: 750;
}

.addPost5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 3%;
    margin-bottom: 0%;
}

.addPost6 {
    width: 40%;
    padding: 1.5%;
    border-radius: 10px;
    margin-top: 0%;
    margin-bottom: 1%;
    color: rgba(0, 0, 0, 0.6);
}

.addPost7 {
    width: 40%;
    padding: 1.5%;
    border-radius: 10px;
    margin-bottom: 1%;
    color: rgba(0, 0, 0, 0.6);
}

.addPost9 {
    width: 40%;
    padding: 1.5%;
    border-radius: 10px;
    margin-bottom: 2%;
    color: rgba(0, 0, 0, 0.6);
    resize: none;
}

.addPost8 {
    width: 40.8%;
    padding: 1.5%;
    border-radius: 22px;
    margin-bottom: 4%;
    font-size: 110%;
    font-weight: 900;
    transition: 0.3s;
}

.addPost8:hover {
    width: 44%;
}

.addPost2 {
    float: right;
    width: 50%;
    height: 100%;
}

.addPost10 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}

.addPost12 {
    position: absolute;
    border-right: 100px solid transparent;
    border-top: 100vh solid white;
    display: inline-block;
}

.addPost11 {
    width: 50%;
    height: 51.5%;
    margin-top: 15%;
}

.verify4 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
}

.verify3 {
    font-size: 200%;
    margin-top: 25%;
    margin-bottom: 0%; 
}

.verify1 {
    width: 30%;
    padding: 1.5%;
    border-radius: 10px;
    margin-top: 5%;
    margin-bottom: 2%;
    font-size: 100%;
    color: rgba(0, 0, 0, 0.6);
}

.verify2 {
    width: 20%;
    padding: 1.5%;
    border-radius: 22px;
    margin-bottom: 3%;
    font-size: 110%;
    font-weight: 900;
    transition: 0.3s;
}

.verify2:hover {
    width: 25%;
}

.home5 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 70%;
    height: 8%;
    margin-top: 6%;
    margin-bottom: 4%;
    padding: 1%;
    padding-left: 4%;
    padding-right: 4%;
    border-radius: 10px;
    font-weight: 900;
    font-size: 120%;
}

.home6 {
    height: 70%;
    text-align: left;
}


.home1 {
    position: relative;
    width: 20%;
    height: 70%;
}

.home4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.home3 {
    display: none;
}

.home3 a {
}

.home1:hover .home3 {
    position: absolute;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    min-height: 100%;
    margin-top: 0%;
    padding-bottom: 10%;
    border-radius: 10px;
    font-weight: 900;
    font-size: 100%;
}

.home1:hover a {
    margin-top: 15%;
    font-size: 100%;
}

.home7 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
}

.home8 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 45%;
    height: 8%;
    margin-top: 6%;
    margin-bottom: 4%;
    margin-left: 0%;
    margin-right: 35%;
    padding: 1%;
    padding-left: 4%;
    padding-right: 4%;
    border-radius: 10px;
    font-weight: 900;
    font-size: 120%;
}

.home9 {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 45%;
    min-height: 10%;
    margin-top: 0%;
    margin-bottom: 3%;
    margin-left: 0%;
    margin-right: 35%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 4%;
    padding-right: 4%;
    border-radius: 10px;
    transition: 0.3s;
}

.home9:hover {
    width: 46%;
    background-color: #deb3ad61;
}

.settings4 {
    float: left;
    width: 100%;
    height: 100%;
}

.settings5 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.settings1 {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 25%;
    min-height: 100%;
}

.settings6 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 10%;
    margin-top: 15%;
    margin-bottom: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 15px;
}

.settings7 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
    height: 100%;
}

.settings8 {
    font-size: 110%;
    font-weight: 700;
    text-align: left;
    width: 100%;
    margin-top: 0%;
    margin-bottom: 0%;
}

.settings9 {
    font-size: 100%;
    text-align: left;
    width: 100%;
    margin-top: 3%;
    margin-bottom: 0%;
}

.settings10 {
    font-size: 130%;
    font-weight: 700;
    padding-top: 8%;
    padding-bottom: 8%;
    padding-left: 18%;
    padding-right: 18%;
    border-radius: 10px;
}

.settings2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    height: 100%;
}

.settings15 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 10%;
    margin-top: 4.5%;
}

.settings16 {
    margin-right: 8%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 15px;
}

.settings14 {
    display: none;
}

.settings14:target {
    display: contents;
}

.settings17 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 13%;
    margin-top:-1%;
    padding-top: 0%;
    padding-bottom: 0%;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 15px;
}

.settings18 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
    height: 100%;
}

.settings19 {
    margin-top: 0%;
    margin-bottom: 0%;
    font-size: 115%;
    font-weight: 550;
}

.settings20 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 20%;
    height: 100%;
}

.settings21 {
    font-size: 110%;
    font-weight: 550;
}

.settings22 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;

}

.settings23  {
    margin-left: 10%;
    font-size: 125%;
}

.settings24 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    width: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 15px;
    font-size: 110%;
    font-weight: 600;
}

.settings26 {
    width: 70%;
}

.settings27 {
    width: 15%;
}

.settings25 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 20%;
    height: 100%;
}

.settings3 {
    display: flex;
    justify-content: center;
    width: 25%;
    height: 100%;
}

.settings11 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 70%;
    height: 60%;
    margin-top: 20%;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 4%;
    padding-right: 4%;
    border-radius: 15px;
}

.settings12 {
    margin-top: 0%;
    margin-bottom: 5%;
    font-size: 170%;
    font-weight: 500;
}

.settings13 {
    margin-top: 0%;
    margin-bottom: 5%;
    width: 100%;
    height: 10%;
    border-radius: 10px;
}

.desktop1 {
    width: 80%;
    height: 99%;
    margin-top: 1%;
}
