@font-face {
    font-family: Inter;
    src: url('fonts/Inter-VariableFont_slnt\,wght.ttf');
}

.backgroundColorWhite {
    background-color: white;
}

.backgroundColorBlack {
    background-color: black;
}

.backgroundColor1 {
    background-color: #f9f1f0;
}

.backgroundColor2 {
    background-color: #deb3ad;
}

.backgroundColor3 {
    background-color: #b18476;
}

.backgroundColor4 {
    background-color: #25232B;
}

.backgroundColor5 {
    background-color: #f6f6f6;
}

.backgroundColor6 {
    background-color: #e8e8e8;
}

.colorWhite {
    color: white;
}

.colorBlack {
    color: black;
}

.color1 {
    color: #f9f1f0;
}

.color2 {
    color: #deb3ad;
}

.color3 {
    color: #b18476;
}

.color4 {
    color: #25232B;
}

.color5 {
    color: #f6f6f6;
}

.color6 {
    color: #e8e8e8;
}

.borderColor6 {
    border: 1px solid #E8E8E8;
}

body {
    margin: 0;
    width: 100%;
    height: 100vh;
    font-family: Inter;
    position: relative;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: black;
}

.underline:hover {
    text-decoration: underline;
}

.noBorder {
    border-style: none;
}

.login1 {
    float: left;
    width: 50%;
    height: 100vh;
}

.login16 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}

.login17 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 10%;
}

.login18 {
    margin-left: 6%;
    padding: 1%;
    padding-left: 3%;
    padding-right: 3%;
    text-align: center;
    font-size: 115%;
    font-weight: 650;
    border-radius: 18px;
}

.login18:hover {
    margin-left: 6%;
    padding: 1%;
    padding-left: 3%;
    padding-right: 3%;
    text-align: center;
    font-size: 120%;
    font-weight: 650;
    border-radius: 18px;
}

.login2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.login3 {
    font-size: 200%;
    margin: 0%;
}

.login4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0%;
}

.login5 {
    width: 40%;
    padding: 1.5%;
    border-radius: 10px;
    margin-top: 5%;
    margin-bottom: 1%;
    color: rgba(0, 0, 0, 0.6);
}

.login6 {
    width: 40%;
    padding: 1.5%;
    border-radius: 10px;
    margin-bottom: 2%;
    color: rgba(0, 0, 0, 0.6);
}

.login7 {
    width: 40.8%;
    padding: 1.5%;
    border-radius: 22px;
    margin-bottom: 4%;
    font-size: 110%;
    font-weight: 900;
}

.login7:hover {
    width: 44%;
    padding: 1.5%;
    border-radius: 22px;
    margin-bottom: 4%;
    font-size: 110%;
    font-weight: 900;
}

.login8 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.login9 {
    margin-bottom: 5%;
    font-weight: 700;
}

.login10 {
    float: right;
    width: 50%;
    height: 100vh;
}

.login13 {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    min-width: 100%;
    min-height: 100%;
}

.login12 {
    position: absolute;
    border-left: 100px solid white;
    border-top: 100vh solid transparent;
    display: inline-block;
}

.login11 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.login14 {
    width: 55%;
}

.signup2 {
    width: 40%;
    padding: 1.5%;
    border-radius: 10px;
    margin-bottom: 0%;
    color: rgba(0, 0, 0, 0.6);
}

.signup3 {
    text-align: center;
    font-size: 80%;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 4%;
}

.signup1 {
    width: 40%;
    padding: 1.5%;
    border-radius: 10px;
    margin-bottom: 1%;
    color: rgba(0, 0, 0, 0.6);
}

.index1 {
    float: top;
    width: 100%;
    height: 13%;
}

.index2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.index3 {
    margin-left: 2.5%;
    margin-right: 0%;
    width: 4.5%;
    height: 100%;
}

.index12 {
    width: 100%;
    height: 100%;
}

.index4 {
    margin-left: -15%;
    margin-right: 0%;
    width: 27%;
    padding: 0.5%;
    padding-left: 1.5%;
    padding-right: 1%;
    border-radius: 15px;
}

.index6 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.index7 {
    width: 95%;
    font-size: 110%;
    font-weight: 600;
}

.index8 {
    width: 4%;
    border-radius: 3px;
}

.index5 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 15%;
    margin-left: 0%;
    margin-right: 2%;
    z-index: 1;
    white-space: nowrap;
    font-size: 110%;
    font-weight: 600;
}

.index9 {
    text-align: center;
    width: 40%;
    margin-left: 0%;
    margin-right: 20%;
    font-size: 100%;
}

.index9:hover {
    text-align: center;
    width: 40%;
    margin-left: 0%;
    margin-right: 20%;
    font-size: 110%;
}

.index10 {
    text-align: center;
    width: 40%;
    margin-left: 0%;
    margin-right: 0%;
    padding: 6%;
    padding-left: 15%;
    padding-right: 15%;
    border-radius: 18px;
    font-size: 100%;
}

.index10:hover {
    text-align: center;
    width: 40%;
    margin-left: 0%;
    margin-right: 0%;
    padding: 6%;
    padding-left: 15%;
    padding-right: 15%;
    border-radius: 18px;
    font-size: 110%;
}

.index11 {
    position: absolute;
    margin-bottom: 5%;
    margin-left: 78.5%;
    width: 30%;
    height: 30vh;
    border-bottom-left-radius: 150px;
    border-bottom: 0;
}

.notfound1 {
    float: left;
    width: 50%;
    height: 100vh;
}

.notfound2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 28%;
}

.notfound3 {
    font-size: 410%;
    font-weight: 800;
    margin-top: 0%;
    margin-bottom: 6%;
    text-align: center;
}

.notfound4 {
    text-align: center;
    width: 8%;
    padding: 1%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    border-radius: 15px;
}

.notfound4:hover {
    text-align: center;
    width: 9%;
    padding: 1%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    border-radius: 15px;
}

.notfound7 {
    float: right;
    width: 50%;
    height: 100vh;
}

.notfound5 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
}

.notfound6 {
    margin-top: 15%;
    width: 60%;
}

.category1 {
    float: left;
    width: 50%;
    height: 100%;
}

.category2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
}

.category3 {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 70%;
    margin-top: 4%;
    margin-bottom: 4%;
    padding: 1%;
    padding-left: 4%;
    padding-right: 4%;
    border-radius: 10px;
    font-weight: 900;
    font-size: 120%;
}

.category15 {
    text-align: left;
}

.category16 {
    text-align: right;
}

.category4 {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    min-height: 10%;
    margin-top: 0%;
    margin-bottom: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 4%;
    padding-right: 4%;
    border-radius: 10px;
}

.category4:hover {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 73%;
    min-height: 10%;
    margin-top: 0%;
    margin-bottom: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 4%;
    padding-right: 4%;
    border-radius: 10px;
}

.category5 {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 70%;
    min-height: 100%;
    margin-bottom: 0%;
    margin-right: 10%;
}

.category9 {
    margin-top: 0%;
    margin-bottom: 3%;
    font-weight: 700;
    font-size: 100%;
}

.category10 {
    margin-top: 0%;
    margin-bottom: 0%;
}

.category6 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 20%;
    height: 100%;
}

.category11 {
    margin-top: 0%;
    margin-bottom: 0%;
    height: 30%;
    font-weight: 700;
    font-size: 100%;
}

.category7 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
}

.category8 {
    margin-right: 15%;
}

.category12 {
}

.category13 {
    float: right;
    width: 50%;
    height: 100%;
}

.category17 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
}

.category14 {
    margin-top: 15%;
    margin-bottom: 0%;
    width: 55%;
}